body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1106%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='rgba(0%2c 140%2c 154%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c482.231C88.715%2c462.686%2c176.232%2c442.097%2c250.488%2c389.767C322.576%2c338.964%2c361.825%2c259.818%2c415.21%2c189.62C485.586%2c97.081%2c626.807%2c27.27%2c614.046%2c-88.286C601.405%2c-202.755%2c456.753%2c-249.59%2c359.836%2c-311.8C285.852%2c-359.289%2c203.241%2c-380.15%2c119.191%2c-405.927C33.997%2c-432.055%2c-47.113%2c-464.149%2c-136.224%2c-463.936C-250.512%2c-463.663%2c-396.669%2c-494.729%2c-466.847%2c-404.525C-538.046%2c-313.009%2c-462.857%2c-179.171%2c-447.147%2c-64.29C-435.693%2c19.471%2c-403.576%2c93.924%2c-387.338%2c176.891C-364.746%2c292.326%2c-425.492%2c445.523%2c-333.118%2c518.342C-243.591%2c588.916%2c-111.329%2c506.758%2c0%2c482.231' fill='%23007d89'%3e%3c/path%3e%3cpath d='M1980 1945.23C2156.94 1980.3490000000002 2371.046 2019.1770000000001 2508.475 1902.324 2647.628 1784.005 2587.777 1556.749 2642.014 1382.3319999999999 2687.4120000000003 1236.339 2822.708 1113.298 2800.886 961.974 2779.065 810.659 2645.2709999999997 703.767 2529.724 603.6610000000001 2426.679 514.387 2303.753 461.126 2174.102 418.951 2040.907 375.62300000000005 1901.247 314.668 1767.312 355.65099999999995 1633.762 396.51599999999996 1569.633 540.793 1466.8600000000001 635.361 1347.779 744.9359999999999 1147.8220000000001 797.156 1115.24 955.6659999999999 1082.885 1113.075 1230.226 1246.843 1312.837 1384.683 1386.346 1507.336 1461.612 1624.287 1571.093 1716.272 1693.1680000000001 1818.839 1823.607 1914.1889999999999 1980 1945.23' fill='%23009bab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1106'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-color: rgba(0, 103, 120, 1);
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  background-color: rgba(0, 103, 120, 1);
  color: rgb(255, 112, 45);
  padding: 20px;
  margin: 0px;
  letter-spacing: 5px;
  box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.6);
}

.bracket-badge {
  color: rgb(255, 112, 45);
  margin-left: 1em;
  margin-bottom: 0.2em;
  letter-spacing: 2px;
  font-family: "Karla", sans-serif;
}
.rounds {
  background-color: rgba(0, 103, 120, 1);
  color: rgb(250, 201, 109);
  border-radius: 3px;
  padding: 0.1em;
  box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.6);
}
.rounds span {
  font-weight: 700;
  margin-left: 0.5em;
}

.upper-bracket {
  display: grid;
  align-items: center;
}

.lower-bracket {
  display: grid;
  align-items: center;
}

.finals-bracket {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.date {
  color: rgb(255, 112, 45);
  font-weight: 300;
  padding-left: 10px;
  font-size: 0.7em;
  font-style: italic;
}
.game {
  background-color: rgb(250, 201, 109);
  color: rgba(0, 103, 120, 1);
  padding: 3px 5px 3px 5px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 4px 25px -7px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  opacity: 1;
  transition: 0.2s;
}

.game:hover {
  opacity: 0.8;
}

.contestant {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 103, 120, 1);
  font-weight: 700;
}

.first-contestant {
  border-bottom: 2px solid rgba(0, 103, 120, 1);
}

.game hr {
  border: 0.5px solid rgba(0, 103, 120, 1);
}

/*Bracket grids*/
/*16 players upperbracket*/
.r-1-16 {
  grid-area: 1 / 1 / 2 / 2;
}
.r-2-16 {
  grid-area: 1 / 2 / 2 / 3;
}
.r-3-16 {
  grid-area: 1 / 3 / 2 / 4;
}
.r-4-16 {
  grid-area: 1 / 4 / 2 / 5;
}
.div0-16 {
  grid-area: 2 / 1 / 3 / 2;
}
.div1-16 {
  grid-area: 3 / 1 / 4 / 2;
}
.div2-16 {
  grid-area: 4 / 1 / 5 / 2;
}
.div3-16 {
  grid-area: 5 / 1 / 6 / 2;
}
.div4-16 {
  grid-area: 6 / 1 / 7 / 2;
}
.div5-16 {
  grid-area: 7 / 1 / 8 / 2;
}
.div6-16 {
  grid-area: 8 / 1 / 9 / 2;
}
.div7-16 {
  grid-area: 9 / 1 / 10 / 2;
}
.div8-16 {
  grid-area: 2 / 2 / 4 / 3;
}
.div9-16 {
  grid-area: 4 / 2 / 6 / 3;
}
.div10-16 {
  grid-area: 6 / 2 / 8 / 3;
}
.div11-16 {
  grid-area: 8 / 2 / 10 / 3;
}
.div12-16 {
  grid-area: 2 / 3 / 6 / 4;
}
.div13-16 {
  grid-area: 6 / 3 / 10 / 4;
}
.div14-16 {
  grid-area: 2 / 4 / 10 / 5;
}

/* 8 players upperbracket*/

.r-1-8 {
  grid-area: 1 / 1 / 2 / 2;
}
.r-2-8 {
  grid-area: 1 / 2 / 2 / 3;
}
.r-3-8 {
  grid-area: 1 / 3 / 2 / 4;
}
.div1-8 {
  grid-area: 2 / 1 / 3 / 2;
}
.div2-8 {
  grid-area: 3 / 1 / 4 / 2;
}
.div3-8 {
  grid-area: 4 / 1 / 5 / 2;
}
.div4-8 {
  grid-area: 5 / 1 / 6 / 2;
}
.div5-8 {
  grid-area: 2 / 2 / 4 / 3;
}
.div6-8 {
  grid-area: 4 / 2 / 6 / 3;
}
.div7-8 {
  grid-area: 2 / 3 / 6 / 4;
}

/* 16 players loserbracket*/

.r-1-16-l {
  grid-area: 1 / 1 / 2 / 2;
}
.r-2-16-l {
  grid-area: 1 / 2 / 2 / 3;
}
.r-3-16-l {
  grid-area: 1 / 3 / 2 / 4;
}
.r-4-16-l {
  grid-area: 1 / 4 / 2 / 5;
}
.r-5-16-l {
  grid-area: 1 / 5 / 2 / 6;
}
.r-6-16-l {
  grid-area: 1 / 6 / 2 / 7;
}
.div0-16-l {
  grid-area: 2 / 1 / 3 / 2;
}
.div1-16-l {
  grid-area: 3 / 1 / 4 / 2;
}
.div2-16-l {
  grid-area: 4 / 1 / 5 / 2;
}
.div3-16-l {
  grid-area: 5 / 1 / 6 / 2;
}
.div4-16-l {
  grid-area: 2 / 2 / 3 / 3;
}
.div5-16-l {
  grid-area: 3 / 2 / 4 / 3;
}
.div6-16-l {
  grid-area: 4 / 2 / 5 / 3;
}
.div7-16-l {
  grid-area: 5 / 2 / 6 / 3;
}
.div8-16-l {
  grid-area: 2 / 3 / 4 / 4;
}
.div9-16-l {
  grid-area: 4 / 3 / 6 / 4;
}
.div10-16-l {
  grid-area: 2 / 4 / 4 / 5;
}
.div11-16-l {
  grid-area: 4 / 4 / 6 / 5;
}
.div12-16-l {
  grid-area: 2 / 5 / 6 / 6;
}
.div13-16-l {
  grid-area: 2 / 6 / 6 / 7;
}

/* 8 players loserbracket*/

.r-1-8-l {
  grid-area: 1 / 1 / 2 / 2;
}
.r-2-8-l {
  grid-area: 1 / 2 / 2 / 3;
}
.r-3-8-l {
  grid-area: 1 / 3 / 2 / 4;
}
.r-4-8-l {
  grid-area: 1 / 4 / 2 / 5;
}
.div11-8-l {
  grid-area: 2 / 1 / 3 / 2;
}
.div12-8-l {
  grid-area: 3 / 1 / 4 / 2;
}
.div9-8-l {
  grid-area: 2 / 2 / 3 / 3;
}
.div10-8-l {
  grid-area: 3 / 2 / 4 / 3;
}
.div4-8-l {
  grid-area: 2 / 3 / 4 / 4;
}
.div5-8-l {
  grid-area: 2 / 4 / 4 / 5;
}

/* Finals grid divs */
.div7-f {
  grid-area: 2 / 1 / 3 / 2;
}
.div8-f {
  grid-area: 3 / 1 / 4 / 2;
}
.div13-f {
  grid-area: 2 / 2 / 4 / 3;
}
.div14-f {
  grid-area: 2 / 3 / 4 / 4;
}
.r-1-f {
  grid-area: 1 / 1 / 2 / 2;
}
.r-2-f {
  grid-area: 1 / 2 / 2 / 3;
}
.r-3-f {
  grid-area: 1 / 3 / 2 / 4;
}
/* Popup style */
.popup-container {
  position: fixed;
  background: rgba(0, 103, 120, 0.5);
  max-width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup-box {
  position: relative;
  max-width: 40%;
  min-width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 103, 120, 1);
}

.popup-close {
  cursor: pointer;
  font-size: 2em;
  margin-left: auto;
}

.popup-game {
  display: flex;
  justify-content: space-around;
  max-width: 95%;
}

.popup-contestant {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  max-width: 50%;
}

.popup-contestant-name {
  font-size: 2em;
  font-weight: 700;
}

.popup-contestant-score {
  font-size: 11em;
  font-weight: 500;
  height: 100%;
  border: none;
  text-align: center;
  color: rgb(250, 201, 109);
  cursor: pointer;
}

.popup-contestant-score::-webkit-input-placeholder {
  color: rgb(250, 201, 109);
  opacity: 1; /*Change the opacity between 0 and 1*/
}

.popup-date {
  max-width: 50%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(0, 103, 120, 1);
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.popup-date::-webkit-input-placeholder {
  color: rgba(0, 103, 120, 1);
  opacity: 1; /*Change the opacity between 0 and 1*/
}

.popup input:active,
input:focus {
  outline: none;
  border: none;
  cursor: text;
}

.popup-submit-btn {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
  cursor: pointer;
  background-color: rgba(0, 103, 120, 1);
  color: rgb(250, 201, 109);
  font-size: 1.5em;
  margin: 1em;
  border: none;
  text-decoration: none;
}

/* loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Error page*/
.error-404 {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 112, 45);
  font-family: "Inter", sans-serif;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-404--badge {
  font-weight: 700;
  font-size: 10em;
}

.error-404--text {
  font-size: 1.5em;
  margin-bottom: 2vh;
}

.error-404--description {
  max-width: 40%;
  font-weight: 300;
}

/* responiveness */
@media only screen and (min-width: 767px) {
  .upper-bracket {
    max-width: 70%;
    grid-gap: 5px 20px;
    padding: 10px;
  }

  .lower-bracket {
    max-width: 70%;
    grid-gap: 5px 20px;
    padding: 10px;
  }

  .finals-bracket {
    max-width: 70%;
    grid-gap: 5px 20px;
    padding: 10px;
  }

  .game {
    max-width: 200px;
  }
  .bracket {
    margin-left: 15%;
  }

  .title {
    padding-left: 15%;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='390' height='844' preserveAspectRatio='none' viewBox='0 0 390 844'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='390' height='844' x='0' y='0' fill='rgba(0%2c 140%2c 154%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c308.308C66.695%2c303.594%2c141.773%2c344.171%2c196.504%2c305.767C251.353%2c267.28%2c248.698%2c186.241%2c266.159%2c121.551C280.794%2c67.332%2c285.172%2c14.185%2c290.303%2c-41.739C297.129%2c-116.133%2c338.212%2c-196.116%2c301.264%2c-261.047C264.25%2c-326.094%2c179.114%2c-344.417%2c106.895%2c-364.053C35.814%2c-383.379%2c-37.667%2c-389.292%2c-109.438%2c-372.712C-184.217%2c-355.437%2c-261.89%2c-328.355%2c-309.204%2c-267.926C-355.791%2c-208.426%2c-355.623%2c-127.256%2c-360.66%2c-51.855C-365.36%2c18.499%2c-362.218%2c88.086%2c-337.395%2c154.083C-311.26%2c223.569%2c-282.725%2c304.004%2c-215.206%2c334.867C-148.109%2c365.537%2c-73.59%2c313.51%2c0%2c308.308' fill='%23007d89'%3e%3c/path%3e%3cpath d='M390 1131.527C467.723 1138.475 547.067 1232.713 611.947 1189.356 677.318 1145.671 624.196 1036.381 645.591 960.724 662.44 901.146 720.8199999999999 857.97 723.158 796.099 725.675 729.5 700.107 663.385 658.804 611.08 616.473 557.473 554.045 526.731 490.556 501.539 421.778 474.248 349.969 446.547 277.141 459.637 200.583 473.398 115.27800000000002 506.041 79.952 575.342 44.66300000000001 644.5699999999999 110.52300000000002 725.369 102.298 802.635 94.55399999999997 875.386 15.814999999999998 935.704 34.05000000000001 1006.557 52.259000000000015 1077.305 123.24099999999999 1127.629 192.17 1151.829 256.01 1174.242 322.609 1125.502 390 1131.527' fill='%23009bab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='390' height='844' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  }
  .title {
    padding: 0.4em;
    text-align: center;
  }
  .date {
    font-weight: 600;
    font-size: 1.1em;
    font-style: italic;
  }
  .bracket {
    overflow: scroll;
    font-size: 0.7em;
    margin: 0.3em;
  }
  .upper-bracket {
    max-width: 100%;
    grid-gap: 0.2em 0.5em;
  }
  .lower-bracket {
    max-width: 100%;
    grid-gap: 0.2em 0.5em;
  }
  .finals-bracket {
    max-width: 100%;
    grid-gap: 0.2em 0.5em;
  }
  .contestant {
    padding: 2px;
  }
  .contestant-name {
    margin-right: 10px;
  }
  .popup-box {
    max-width: 80%;
  }
  .popup-game {
    justify-self: center;
  }
  .error-404 {
    top: 40%;
  }
  .error-404--description {
    max-width: 80%;
    font-weight: 500;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  body {
    max-width: fit-content;
  }
  .upper-bracket {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .lower-bracket {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .finals-bracket {
    max-width: 100%;
    font-size: 0.8rem;
  }
}
